
:root {
  --primary-color: #1d2024;
  --secondary-color: #000000;
  --third-color: rgb(253, 111, 55);
  --forum-bg-color: rgb(49, 59, 63);
  --font-color: rgb(39, 227, 233);
  --secondary-font-color: white;
  --font-primary: "Play", sans-serif;
  --font-secondary: "Mono", monospace;
  --font-size: 16px;
}


:root.light {
  --primary-color: #d7f3f5;
  --secondary-color: #d5dce2;
  --third-color: rgb(213, 130, 252);
  --forum-bg-color:rgb(233, 248, 248);
  --font-color:rgb(253, 102, 2);
  --secondary-font-color: black;
  --font-primary:  "Play", sans-serif;
  --font-secondary: "Mono", monospace;
  --font-size: 16px;
}

:root.dark {
  --primary-color: #1d2024;
  --secondary-color: #000000;
  --third-color: rgb(253, 111, 55);
  --forum-bg-color:rgb(49, 59, 63);
  --font-color: rgb(39, 227, 233);
  --secondary-font-color:white;
  --font-primary:  "Play", sans-serif;
  --font-secondary: "Mono", monospace;
  --font-size: 16px;
}

body {
  display: flex;
  margin: 0%;
  height: 100vh;
}

#register-container {
  display: flex;
  flex: 1;
  flex-direction: column;
 
  justify-content: center; 
  align-items: center; 
  background-color: var(--primary-color);
  background-image: url('images/Hexagon.svg');
}

#esports-img {
  display: flex;
  flex: 0.70;
  background-image: url('images/esports.jpg');
  background-size: cover;
  background-position: center;
  color: white;
}

legend {
  margin-left: 9px;
  margin-bottom: 20px;
  font-weight: bolder;
}

footer {
  display: flex;
  flex: 1;
  align-items: end;
  justify-content: center;
}

form {
  flex: 1;
  padding: 10px;
  background-color:var(--forum-bg-color);
  border-radius: 6px;  
  margin-right: 15%;
  font-family: var(--font-primary);
  color: var(--secondary-font-color);
  width: 500px;
}

a:visited, a:link {
  color: white;
  text-decoration: none;
}

#github {
  height: 40px;
  margin: 0%;
}

#git-link {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  height: 0;
  opacity: 60%;
}

#photo-cred {
  font-size: 12px;
  height: 0;
  opacity: 40%;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 10px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
  padding: 8px;
  margin-top: 8px;
  border-radius: 6px;
  background-color: var(--secondary-color);
  font-family: "Kode Mono", monospace;
  font-weight: 400;
  color: var(--font-color);
}

.img-flex-container {
  display: flex;
}

.gameday {
  width: 100%;
  height: 150px;
  flex: 1;
  top: 65%;
  right: 0%;
}

#submit-form {
  display: flex;
  flex-direction: column;
}

#helper-txt {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 50px;
}

.submit {
  background-color: var(--secondary-color);
  margin-left: 10px;
  margin-bottom: 25px;
  padding: 10px;
  border-radius: 6px;
  font-family: var(--font-primary);
  font-size: 16px;
  color: var(--secondary-font-color);
}

.submit:hover {
  cursor: pointer;
}

#create {
  background-color: var(--third-color);
}

#theme-btn {
  display: flex;
  flex: 1;
  margin-left: 95%;
  margin-top: 1.5%;
  fill: var(--third-color);  
  transition: transform 0.3s ease;
}

#theme-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#world {
  display: flex;
  margin-right: 15%;
}









