* {border: 0px Solid red}

:root {
  --primary-color: #706b5c;
  --secondary-color: #6c757d;
  --font-primary: 'Helvetica Neue', Arial, sans-serif;
  --font-secondary: 'Georgia', serif;
  --font-size: 16px;
}

body {
  min-height: 100vh;
  display: flex;
  flex: 1;
}

#register-container {
  display: flex;
  flex: 1;
  justify-content: center; 
  align-items: center; 
  background-color: var(--primary-color)
}

#esports {
  display: flex;
  flex: 0.70;
  background-image: url('images/esports.jpg');
  background-size: cover;
  background-position: center; 
}

form {
  padding: 10px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 10px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
  padding: 8px;
  margin-top: 8px;
  background-color: var(--secondary-color)
}



